<section class = "menu-select">
  <%= form_tag('select', method: "get" ) do %>
    <%= button_tag "North America", :class => "button-main" %>
    <%= hidden_field_tag 'amount', "NA" %>
  <% end %>
  <%= form_tag('select', method: "get" ) do %>
    <%= button_tag "Europe", :class => "button-main" %>
    <%= hidden_field_tag 'amount', "EU" %>
  <% end %>
</section>