 <section class ="stats-column selection-column box-shadow">
 <h2>North America</h2>
  <ul> 
    <li><a href="/NA/teams">Teams</a></li> 
    <li><a href="/NA/teams"><%= render :partial => 'shared/table-svg' %></a></li>
    <li><a href="/NA/lcs">LCS Standings</a></li>
    <li><a href="/NA/lcs"><%= render :partial => 'shared/graph-svg' %></a></li>
    <li><a href="/NA/players">Players</a></li>
    <li><a href="/NA/players"><%= render :partial => 'shared/player-svg' %></a></li>
  </ul>
</section>
<section class ="stats-column selection-column box-shadow">
  <h2>Europe</h2>
  <ul> 
    <li><a href="/EU/teams">Teams</a></li> 
    <li><a href="/EU/teams"><%= render :partial => 'shared/table-svg' %></a></li>
    <li><a href="/EU/lcs">LCS Standings</a></li> 
    <li><a href="/EU/lcs"><%= render :partial => 'shared/graph-svg' %></a></li>
    <li><a href="/EU/players">Players</a></li>
    <li><a href="/EU/players"><%= render :partial => 'shared/player-svg' %></a></li>
  </ul>
</section>