<h2>LCS Standings</h2>
<section class="main-content">
  <table class="table-content">
    <tbody>
    <tr class="table-headings">
      <th><h3>Team</h3></th>
      <th><h3>Wins</h3></th>
      <th><h3>Losses</h3></th>
    </tr>
    <% @lcs.each do |lcs| %>
      <tr>
        <%= form_tag('team', method: "put") do %>
          <td><p><%= button_tag lcs.name %></p></td>
        <%= hidden_field_tag 't_name', lcs.name %>
        <% end %>
        <td><p><%= lcs.wins %></p></td>
        <td><p><%= lcs.losses %></p></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</section>
