<h2><%= @t_name %></h2>
<section class="stats-column column-3">
  <h3>Roster</h3>
  <table class="table-content">
    <tbody>
      <tr class="table-headings">
        <td>Player Name</td>
        <td>Player Role</td>
      </tr>
    <% @roster.each do |player| %>
      <%= form_tag('player', method: "put") do %>
      <tr>
        <td><p><%= button_tag player.p_name %></p></td>
        <td><p><%= player.role %></p></td>
      </tr>
      <%= hidden_field_tag 'p_name', player.p_name %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</section>
<section class="stats-column column-3">
  <h3>Stats</h3>
</section>
<section class="stats-column column-3">
  <h3>Schedule</h3>
</section>